MM_API_BASE=http://localhost:5000
MM_USERNAME=mm_bot
MM_PASSWORD=change-me
MM_FUND=true
MM_FUND_BASE=1000
MM_FUND_QUOTE=10000000
MM_SYMBOLS=BTC_USDT:btcusdt
MM_LEVELS=50
MM_MIN_SPREAD_BPS=20
MM_STEP=10
MM_QTY=0.002
MM_UPDATE_MS=300
